body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #317EFB;
}

#install-button {
    padding: 10px 20px;
    background-color: #317EFB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
